body {background-color: #F2F3F5;}

.feedContainer {
    width: 800px;
    padding:1em;
    margin-left:1em;
    margin-bottom: 1em;
    background-color: white;
    border: solid 1px lightgray;
}

.textButton {
    padding: 1em;
}

.textButton_selected {
    color: blue;
    font-weight: bold;
}

.textButton:hover {
    background-color: lightgray;
}

.pageContainer {
    display: grid; 
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 3em;
}

.centerVertically{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.eventInspectorRow{
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding: 1px; 
}

.columns_3_1{
    display:grid;
    grid-template-columns: 3fr 1fr;
}

.columns_1_3{
    display:grid;
    grid-template-columns: 1fr 3fr;
}

.columns_1_1{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.columns_1_2_1{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.columns_2_2_1{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.columns_1_1_1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.columns_2_4_4{
    display:grid;
    grid-template-columns: 2fr 4fr 4fr;
}

.columns_1_1_1_1 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.columns_1_1_1_1_1 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.columns_1_1_2_3_1 {
    display:grid;
    grid-template-columns: 1fr 1fr 2fr 3fr 1fr;
}

.columns_1_1_3_1 {
    display:grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
}


.columns_2_2_2_1 {
    display:grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
}

.columns_2_2_1 {
    display:grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.redlineText {
    color: red;
    text-decoration-line: line-through;
}

.eventInspectorRow:hover {
    background-color: lightgray;
}

.eventAttributeRow {
    display:grid;
    grid-template-columns: 1fr 2fr;
    padding: 1px; 
}


.recordRow {
    display:grid;
    grid-template-columns: 10fr 5fr 1fr;
    padding: 1px; 
}

.recordRow:hover {
    background-color: lightgray;
}


.shareholderRow {
    display:grid;
    grid-template-columns: 5fr 5fr 5fr 1fr;
    padding: 1px; 
}

.shareholderRow:hover {
    background-color: lightgray;
}


.emphasizedText {
    background-color: #b1e8f97d;
}

.emphasizedText:hover {
    background-color: #59caec;
}

.attributeRow {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    padding: 1px; 
}

.attributeRow:hover {
    background-color: lightgray;
}

.eventTypeRow {
    display:grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr 4fr;
    padding: 1px;     
    border: 1px solid gray;

}

.eventFieldConstructorRow {
    display:grid;
    grid-template-columns: 3fr 3fr 1fr;
}

.entityLabel {
    padding: .25rem;
    margin: .25rem;
}


.entityLabel:hover {
    background-color: lightskyblue;
}



.accountBalanceWithHistoryRow {
    display:grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 1px; 
}


.textButton_narrow {
    padding: 2px;
}


.textButton_narrow:hover {
    background-color: lightgray;
}

.rightAlignText {
    text-align: right;
}


.textArea_code {
    background-color: black;
    color: #57ff57;
}

.popupContainer {
    position: relative;
}

.popupContainer:hover > .entityInspectorPopup {
    display: block
}

.entityInspectorPopup {
    display: none;
    position: absolute;
    bottom: -50%;
    left: 80%;
    border: 1px solid red;
    background-color: #eee;
    z-index: 10;
    width: 600px;
}