body {background-color: #F2F3F5;}

.textButton {
    padding: 1em;
}

.textButton_selected {
    color: blue;
    font-weight: bold;
}

.textButton:hover {
    background-color: lightgray;
}

.pageContainer {
    display: grid; 
    justify-content: center;
    padding-top: 3em;
}


.eventInspectorRow{
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding: 1px; 
}

.eventInspectorRow:hover {
    background-color: lightgray;
}

.recordRow {
    display:grid;
    grid-template-columns: 10fr 5fr 1fr;
    padding: 1px; 
}

.recordRow:hover {
    background-color: lightgray;
}


.shareholderRow {
    display:grid;
    grid-template-columns: 5fr 5fr 5fr 1fr;
    padding: 1px; 
}

.shareholderRow:hover {
    background-color: lightgray;
}


.emphasizedText {
    background-color: #b1e8f97d;
}

.emphasizedText:hover {
    background-color: #59caec;
}

.attributeRow {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    padding: 1px; 
}

.attributeRow:hover {
    background-color: lightgray;
}

.eventTypeRow {
    display:grid;
    grid-template-columns: 1fr 4fr 2fr 2fr;
    padding: 1px;     
    border: 1px solid gray;

}


.textButton_narrow {
    padding: 2px;
}


.textButton_narrow:hover {
    background-color: lightgray;
}