body {background-color: #F2F3F5;}


.feedContainer {
    max-width: 1200px;
    padding:1em;
    margin-left:1em;
    margin-bottom: 1em;
    background-color: white;
    border: solid 1px lightgray;
}

.textButton {
    padding: 3px;
}

.textButton_selected {
    color: blue;
    font-weight: bold;
}

.textButton:hover {
    background-color: lightgray;
}


.pageContainer {
    display: grid; 
    grid-template-columns: 1fr 5fr;
    padding-top: 3em;
}


.redlineText {
    color: red;
    text-decoration-line: line-through;
}

.entityLabel {
    padding: .25rem;
    margin: .25rem;
}


.entityLabel:hover {
    background-color: lightskyblue;
}


.textArea_code {
    background-color: black;
    color: #57ff57;
}

.popupContainer {
    position: relative;
}

.popupContainer:hover > .entityInspectorPopup {
    display: block
}

.entityInspectorPopup {
    display: none;
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 10;
    width: 400px;
}


.createButtonPopupContainer {
    position: relative;
}

.createButtonPopupContainer:hover > .createButtonPopup {
    display: block
}

.createButtonPopup {
    display: none;
    position: absolute;
    top: 100%;
    right: 0%;
    z-index: 10;
    width: 800px;
}


.activeButtonLabel {
    padding: 3px;
    margin: 3px;
    background-color: #2196f36b;
    max-width: 200px;
}


.activeButtonLabel:hover {
    background-color: #008effc2;
}

.disabledButtonLabel {
    padding: 3px;
    margin: 3px;
    background-color: #b1b1b1c2;
    max-width: 200px;
}

.disabledButtonLabel:hover {
    background-color: #505050c2;
}


.sidebarButton {
    padding: 1em;
}

.sidebarButton:hover {
    background-color: #c5c5c5;
}